.container {
  width: 75%;
  height: 400px;
  margin: 50px auto;
  background-image: url(../images/nature3.jpg);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.kotak {
  width: 90%;
  height: 300px;
  background-image: url(../images/nature3.jpg);
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 5px;
  margin: auto;
  display: flex;
  flex-direction: row;
  opacity: 0.2;
}

.container .bio {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: justify;
}

.container .bio .button {
   text-align: center;
   line-height: 0;
}

.button {
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
}

.buttonMe {
  text-align: center;
  color: azure;
  padding: 10px;
}

.aboutMe {
  text-align: center;
}

h2, h3 {
  color: rgb(91, 94, 91);
  line-height: 10px;
}

.container p {
  font-size: 13px;
  line-height: 20px;
}

.gambar {
  display: flex;
  margin: auto;
  width: 400px;
  height: 150px;
  justify-content: space-around;
}

.kotak .gambar #foto {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  opacity: 0;
  margin-top: 20px;
}

.kotak .gambar #bintang {
  transition: all 5s linear;
  width: 50px;
  height: 50px;
  margin: 30px;
}

.container .kotak .bio {
  margin-bottom: 10px;
}

.container:hover #bintang {
  transform: rotate(720deg);
}

.container:hover #foto {
  opacity: 1;
}

.container:hover .kotak {
  opacity: 1;
}

/* responsive */
/* ukuran tablet */
@media screen and (max-width: 768px) {
  .container {
    height: 800px;
  }
  .kotak {
    height: 750px;
    display: flex;
    flex-direction: column;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .container {
    height: 800px;
  }
  .kotak {
    height: 750px;
    display: flex;
    flex-direction: column;
  }
}