.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../images/cloud.gif);
    padding: 20px;
    margin: 50px;
    opacity: 0.8;
    border-radius: 50px;
}

.profile img{
    border-radius: 50%;
    margin-bottom: 20px;
}

p {
    color: black;
    line-height: 20px;
}

h4 {
    color: black;
    font-size: 20px;
}

.bp-profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.view-more {
    border-radius: 20px;
    border: none;
    color: aliceblue;
    background-color: rgb(139, 197, 236);
    padding: 5px;
}

.view-more:hover {
    cursor: pointer;
    background-color: rgb(98, 179, 233);
}

.prev-next {
    border-radius: 20px;
    border: none;
    color: aliceblue;
    background-color: rgb(173, 139, 236);
    padding: 5px;
}

.prev-next:hover {
    cursor: pointer;
    background-color: rgb(98, 179, 233);
}

.detail-contributor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    opacity: 0.8;
    margin-top: 20px;
}

.detail-contributor p {
    color: rgb(11, 12, 12);
    font-size: 20px;
}

.detail-box {
    width: 30%;
    height: 400px;
    background-color:rgb(198, 198, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0.8;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    border-radius: 30px;
}

.detail-contributor img{
    border-radius: 50%;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.detail-box:hover img{
    width: 55%;
}

.detail-box:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* responsive */
/* ukuran tablet */
@media screen and (max-width: 768px) {
    .detail-box {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .detail-box {
        width: 50%;
    }
}

